body {
    background: $tan;
    font-family: $bodyFont;
    width: 1920px;
}

h1, h2, h3, h4, h5, p  {
    color: $tan;
    font-family: $headingFont;
}

a {
    text-decoration: none;
    color: $gray;
    &:hover {
        text-decoration: none;
        color: $gold;
    }
}

button {
    color: $tan;
    background: $green;
    &:hover {
        color: $tan;
        background: $gold;
    }
}

footer#copyright{
    background: $gray;
    color: $tan;
    font-size: $bodyFont;
    border-top: $border;
    & p {
        text-align: center;
        margin-bottom: 0;

    }
}