// header

#logo {
    width: 600px;
    margin-top: .5em;
    margin-bottom: 2em;
    margin-right: 1em;
}

// checkboxes

/* Customize the label (the container) */

#sortByCategory {
    margin-top: 100px;
}

.container {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    margin-right: 2em;
    color: $gold;
    font-family: $headingFont;
    letter-spacing: .2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox {
      margin-right: 5px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 5px solid $gold;
    margin-left: .15em;
    margin-top: 10px;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $gray;
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    top: 4px;
    left: 10px;
    width: 8px;
    height: 16px;
    border: solid $tan;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


// body

#map {
    max-width: $maxWidth;
    margin: 2em 1em;
}

main button {
    padding: .5em 1em;
    background-color: $gold;
    width: 100%;
    box-shadow:     
    0 1px 2px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8);
    &:hover {
        color: $tan;
        background: $gray;
    }
}

.area {
    font-size: 27px;
    letter-spacing: .2em;
    white-space: nowrap;
    margin: .2em;
    font-family: $headingFont;
}

// Key

#keyContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid $gray;
    margin-bottom: 1em;
    margin-right: 1em;
}

#keyContainer img {
    height: 30px;
    padding-right: 1em;
}

#label_icon {
    color: $gold;
    font-family: $bodyFont;
    font-size: 20px;
}

#key {
    color: $gold;
    font-size: 25px; 
    text-align: center;
    white-space: nowrap;
}

.keyInfo {
    display: flex;
    flex-direction: row;
    margin-left: 1.5em;
    margin-bottom: .25em;

}
