// colors

$gold: rgb(167, 130, 50);
$tan: rgb(250, 235, 214);
$gray: rgb(73, 73, 73);
$blue: rgb(53, 76, 83);
$green: rgb(5, 87, 52);
$red: rgb(137, 48, 30);

// fonts

$headingFont: 'Crimson Text', serif;
$bodyFont: 'ubuntu', Arial, sans-serif;

// font sizes

$h1font: 2em;
$h2font: 1em;
$pfont: 1em;

//image max-width

$maxWidth: 100%;